.shopify-infobox {
	border: 1px solid @panel-default-border;
	padding: 1em;
	display: inline-block;

	.media-body {
		width: inherit;
		max-width: 500px;
	}

	img {
		max-width: 100px;
		max-height: 100px;
	}
}