.shopify-infobox {
	border: 1px solid @panel-default-border;
	padding: 1em;
	display: inline-block;
	max-width: 500px;

	.media-body {
		width: inherit;
	}

	img {
		max-width: 48px;
		max-height: 48px;
	}
}

.topic .posts .shopify-infobox h4 {
	margin-top: 0px;
}